
{{#if errorMsg}}
<div class="alert alert-danger" role="alert">
    {{errorMsg}}
</div>
{{/if}}

{{#if errorSignup}}
<div class="alert alert-danger" role="alert">
    {{errorSignup}}
</div>
{{/if}}

{{#if errorPassword}}
<div class="alert alert-danger" role="alert">
    {{errorPassword}}
</div>
{{/if}}